@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-100 transition-colors duration-300;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 dark:bg-slate-900/80 backdrop-blur-md;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-primary-700;
  }
}
